@import '../../assets/styles/base/variables';

// #HEADER-v2
//-------------------------------------
$header-bg-color: #121212;
$header-mobile-bg-color: #121212;
$header-logo-color: #ffffff;
$header-toggle-color: #ffffff;

.bi-header-v2 {
  position: relative;
  box-sizing: content-box;
  background-color: $header-bg-color;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.02);
  z-index: 3;

  justify-content: space-between;

  .bi-search {
    padding-right: $grid-offset-step * 15;
  }

  &__stats {
    width: 100%;

    justify-content: center;
  }

  &__mobile {
    display: none;
  }

  &__logo {
    color: $header-logo-color;
    font-family: $theme-main-font;
    font-size: 14px;
    font-weight: 300;
    line-height: 0;
    white-space: nowrap;
    text-decoration: none;
  }

  &__logo-icon {
    width: 160px;
    height: 26px;

    fill: $header-logo-color;

    path {
      fill: $header-logo-color;
    }
  }

  &__toggle {
    padding: $grid-offset-step * 2;
  }

  &__toggle-icon {
    width: 24px;
    height: 24px;

    fill: $header-toggle-color;
  }
}

@media screen and (max-width: $laptop-device-width) {
  .bi-header-v2 {
    .bi-search {
      padding-right: $grid-offset-step * 5;
    }
  }
}

@media screen and (max-width: $mobile-device-width) {
  .bi-header-v2 {
    &__mobile {
      display: flex;
    }

    .bi-search {
      padding-right: $grid-offset-step * 2;
    }
  }
}

.bi-app--iframe {
  .bi-header-v2 {
    display: none;
  }
}
