@import '../../assets/styles/base/variables';

// #STATS ITEM V2
//-------------------------------------
$stats-item-title-color: #999999;
$stats-item-value-color: #ffffff;
$header-stats-item-border-color: rgba(255, 255, 255, 0.17);;

.bi-stats-item-v2 {
  position: relative;
  font-family: $theme-main-font;
  border-left: 1px solid $header-stats-item-border-color;
  box-sizing: border-box;
  padding-left: $grid-offset-step * 5;
  width: 25%;

  &:first-child {
    border-left: 0;
    padding-left: 0;
  }

  &__title {
    color: $stats-item-title-color;
    font-size: 14px;
  }

  &__value {
    margin-top: $grid-offset-step;
    color: $stats-item-value-color;
    font-size: 18px;
    font-weight: 500;
  }

  @media screen and (max-width: $mobile-device-width) {
    width: 33%;
    padding-bottom: $grid-offset-step * 5;

    &:nth-child(4) {
      padding-left: 0;
      border-left: 0;
    }

    &:nth-child(5) {
      padding-left: $grid-offset-step * 5;
    }

    &__title {
      font-size: 12px;
    }

    &__value {
      font-size: 16px;
    }
  }

  @media screen and (max-width: $mobile-device-width-sm) {
    width: 50%;

    flex-wrap: wrap;

    &:nth-child(3), &:nth-child(5) {
      border-left: 0;
      padding-left: 0;
    }

    &:nth-child(5) {
      border-right: 1px solid $header-stats-item-border-color;
      box-sizing: content-box;
    }

    &:nth-child(4) {
      padding-bottom: $grid-offset-step * 5;
      border-left: 1px solid $header-stats-item-border-color;
      padding-left: $grid-offset-step * 5;
    }
  }
}
